body {
  color: dimgray;
  background: white;
  text-align: center;
  font-family: 'Times New Roman', serif;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 0;
  padding-left: 20px; }
  body span {
    color: mediumvioletred; }
  body h1 {
    color: dimgray;
    margin-top: 10px;
    margin-bottom: 15px; }
  body h2 {
    color: white;
    font-family: 'Helvetica', 'Arial', sans-serif;
    background-color: silver;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px; }
  body h3 {
    color: dimgray;
    margin-top: 10px;
    margin-bottom: 0px; }
  body p {
    color: dimgray;
    padding-right: 30px;
    text-align: left; }
  body ul {
    list-style-type: none;
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: white;
    background-color: cadetblue;
    padding: 20px;
    text-align: left; }
  body a {
    text-decoration: none;
    color: white; }
    body a:hover {
      color: dimgray;
      text-decoration: underline; }
  body img {
    border-radius: 50%; }
